.top {
  position: relative;
  padding-bottom: 10px;
}

.mainCont {
  font-size: 40px;
  margin: auto;
  border: solid;
  border-width: 4px;
  border-radius: 1cm;
  border-color: green;
  margin-bottom: 10px;
}

.aTest {
  margin: auto;
  border: solid;
  border-width: 7px;
  border-color: royalblue;
  margin-bottom: 10px;
}

.middleBar {
  margin: auto;
  background-color: rgb(39, 38, 38);
  width: 50%;
}

.infoCont {
  font-size: 30px;
  margin: auto;
}

.anchorColor {
  color: hotpink;
}

.subCont {
  font-size: 16px;
  margin: auto;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}
