.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #3e497a;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #21325e;
  color: #f0f0f0;
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2vw;
  color: #e9d35b;
  height: 50px;
}

h1 {
  font-size: 3vw;
}
h3 {
  font-size: 2vw;
}

.linkr {
  padding: 4px;
  color: hotpink;
}

p {
  font-size: 1.5vw;
  margin: auto;
  width: 70%;
}

.middleLoc {
  margin: auto;
  width: 80%;
}

.internalCardText {
  margin-top: 100px;
}
.cardz {
  font-size: xx-large;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgb(255, 24, 243);
  transition: 0.3s;
  background-color: rgba(24, 201, 255, 0.13);
}
.cardz:hover {
  box-shadow: 0 8px 16px 0 rgb(24, 201, 255);
  background-color: rgba(255, 24, 243, 0.13);
}

.cardList {
  margin: auto;
  font-size: 35%;
  width: 17%;
}

.selfie {
  width: 20vw;
  opacity: 0.8;
  transition: 0.3s;
}

.selfie:hover {
  opacity: 1;
}

.about .prompt {
  width: 40%;
  font-size: 2vw;
}
.prompt svg {
  font-size: 2vw;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 2vw;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: #3e497a;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 2vw;
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 2vw;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 2vw;
  }
}
